{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block body_block %}
	<br><br><br><br>
	<div class="container">
		<h1>About</h1>
		<div class="row">
			<div class="col-sm-6">
				<h4>LobbyLibre is an open source quasi-social netowork project made by me, <a href="http://patfarnach.com/" target="_blank">Pat Farnach</a>, during my time as a student at PDX Code Guild from January to March 2015.  Far from done, it was built periodically over two months, this project is meant to serve as a prototype for future projects with the intention of shining light on our elected officals, where they get their money from, and what they're up to. LobbyLibre is supposed to be a tool for the average person to directly engage with other people to discuss politicians and serve as a source of information about them that can be disseminated easily.</h4>
			</div>
		</div>
	</div>
	<h1>{{ request }}</h1>
{% endblock %}
	