{% extends "base.html" %}

{% block title %}Profiles{% endblock %}

{% block body_block %}

<div class="container">
	<div id="login" class="panel panel-default">
		<div class="panel-body">
			<h1>Login</h1>
			<form method="post" action=".">
			  {% csrf_token %}
			  {{ form.as_p }}
				<br>
			  <input type="submit" value="Log in" />
			  <input type="hidden" name="next" value="{{ next }}" />
			  <p>Not  a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
			</form>
		</div>
	</div>
</div>
{% endblock %}