/*------------------------
POLITICIAN PROFILE PAGE
--------------------------*/

#politician-profile #politician-name {
	padding-left: 15px;
	font-size: 3em;
}

#politician-profile #subscribe-btn {
	margin: 20px 0;
	width: 150px;
}

#politician-profile .chamber {
	margin-top: 8px;
}

/*--------- profile tabs ----------*/

#politician-profile .nav-tabs {
	margin-top: 20px;
}

#politician-profile .tab-pane p:first-child {
	margin-top: 15px;
}

#politician-profile .tab-pane i {
	color: rgba(51, 51, 51, 0.8);
}

#politician-profile .tab-pane .social-media-icon-wrapper {
	margin: 10px 0;
}

#politician-profile #myTabContent p {
	margin-bottom: 7px;
}

#politician-profile .tab-pane .social-media-icon {
	margin-right: 1.4rem;
	font-size: 2rem;
}

#politician-profile .tab-pane a > i,
#politician-profile .tab-pane a > i{
	text-decoration: none;
	transition: color .3s ease;
}

#politician-profile .tab-pane a:hover > i,
#politician-profile .tab-pane a:focus > i{
	color: #F04124;
}

/*--------- MONEY TAB ----------*/
#politician-profile .row.money-info {
	margin-top: 20px;
}

#politician-profile th {
	cursor: pointer;
}

#politician-profile .total-contributions {
	text-align: center;
}

#politician-profile #net-worth .panel {
	display: inline-block;
}

/*to center the three net worth boxes inside of panel */
#politician-profile #net-worth {
	height: 120px;
	text-align: justify;
}

#politician-profile #net-worth-title {
	display: inline-block;
}

#politician-profile #net-worth-tooltip {
	margin-left: 7px;
}

#politician-profile #net-worth-tooltip > i{
	color: white;
}

/*to center the three net worth boxes inside of panel */
#politician-profile #net-worth .panel {
	display: inline-block;
}

/*to center the three net worth boxes inside of panel */
#politician-profile #net-worth:after {
	content: '';
	width: 100%;
	display: inline-block;
}

#politician-profile #net-worth .panel-body {
	font-size: 1em;
}

#politician-profile #net-worth .panel-title {
	text-align: center;
}

#politician-profile #money-wait {
	width: 15%;
	display: block;
	position: absolute;
	top: 200px;
	left: 40%;
	margin: 0 auto;
}

#politician-profile .money-hidden {
	 opacity: 0;
	 transition: opacity 0.6s ease-in-out;
}

#politician-profile .money-fade-in {
	opacity: 1;
}

/*--------- REAL TALK TAB ----------*/
#politician-profile #article-display #add-article-btn {
	margin-top: 20px;
	padding: 10px;
	font-size: 1.4em;
}

/* articles display box */
#politician-profile #article-display #articles .article-title {
	font-size: 1.5em;
}

#politician-profile #article-display #articles .tag-wrapper {
	margin-top: 15px;
}

#politician-profile #article-display #articles .label {
	margin-right: 5px;
}

#politician-profile #article-display #articles #article-tag {
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}

/* upvote/downvote arrows */
#politician-profile #article-display #article-vote {
	background-color: white;
	color: black;
	width: 20px;
	padding: 0 2px 0 3px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

#politician-profile #article-display #article-vote .vote-outline {
	cursor: pointer;
}

/* upvote/downvote arrows */
#politician-profile #article-display #article-vote i {
	font-weight: bold;
}

/* upvote/downvote arrows */
#politician-profile #article-display #article-vote .article-upvote {
	color: #f04124;
}

#politician-profile #article-display #article-vote .article-downvote {
	color: #5bc0de;
}

#politician-profile #article-display #article-vote-count h3 {
	background-color: white;
	color: black;
	text-align: center;
	position: relative;
	left: -10px;
	padding: 5px;
	width: 40px;
	height: 40px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	   -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
			box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

/* line between upvote/downvote arrows */
#politician-profile #article-display #article-vote .fa-chevron-up::after {
	content:'';
	position: absolute;
	width: 16px;
	height: 2px;
	top: 21px;
	right: -1px;
	background-color: rgba(51, 51, 51, 0.2);
}

#politician-profile #article-display #add-article-form {
	margin-top: 15px;
}

#politician-profile #article-display #add-article-form i {
	color: white;
}

#politician-profile #article-display #add-article-form label {
	font-size: 1.2em;
}

#politician-profile #article-display #add-article-form #tags-info {
	color: grey;
	font-size: 0.8em;
}

#politician-profile #article-display #add-article-form .tag-item {
	border-radius: 0;
	background: #f04124;
	color: white;
}

#politician-profile #article-display #add-article-form .tag-item a {
	color: white;
	text-decoration: none;
}

#politician-profile #article-display #article-success-alert {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* so modals works correctly */
#politician-profile #article-display .modal {
    display: block;
}

#politician-profile #article-display .modal-dialog {
    margin-top: 10%;
}

#politician-profile #article-display .modal-body:before,
#politician-profile #article-display .modal-body:after {
    display: table;
    content: " ";
}
#politician-profile #article-display .modal-header:before,
#politician-profile #article-display .modal-header:after {
    display: table;
    content: " ";
}

#politician-profile #article-display #article-success-alert .modal-header,
#politician-profile #article-display #article-success-alert .modal-content {
    border: 0;
}

/*------------------------
REGISTRATION PAGES (/user/)
--------------------------*/
/*--------- login ----------*/
#login {
	display: block;
	width: 30%;
	margin: 0 auto;
}

#login h1 {
	margin-bottom: 30px;
}

#login input[type="submit"] {
	margin: 10px 0;
}

/*--------- registration ----------*/
#registration {
	display: block;
	width: 30%;
	margin: 0 auto;
}

#registration h1 {
	margin-bottom: 30px;
}

#registration input[type="submit"] {
	margin: 10px 0;
}

/*------------------------
USER SUBSCRIPTIONS PAGE
--------------------------*/

#subscriptions table {
	font-size: 1.1em;
}

#subscriptions .center-col {
	text-align: center;
}

#subscriptions td button i {
	font-size: 1.2em;
}

#subscriptions .table tbody>tr>td {
    vertical-align: top;
}

#subscriptions .table tbody>tr>td.vert-align {
    vertical-align: middle;
}

