/*------------------------
POLITICIAN PROFILE PAGE
--------------------------*/

#politician-profile .politician-name {
	padding-left: 15px;
}

#politician-profile .btn-subscribe,
#politician-profile .btn-unsubscribe {
	margin-top: 20px;
}

#politician-profile .chamber {
	margin-top: 8px;
}

/*--------- profile tabs ----------*/

#politician-profile .nav-tabs {
	margin-top: 20px;
}

#politician-profile .tab-pane p:first-child {
	margin-top: 15px;
}

#politician-profile .tab-pane i {
	color: rgba(51, 51, 51, 0.8);
}

#politician-profile .tab-pane .social-media-icon-wrapper {
	margin: 10px 0;
}

#politician-profile .tab-pane .social-media-icon {
	margin-right: 1.4rem;
	font-size: 2rem;
}

#politician-profile .tab-pane a > i,
#politician-profile .tab-pane a > i{
	text-decoration: none;
	transition: color .3s ease;
}

#politician-profile .tab-pane a:hover > i,
#politician-profile .tab-pane a:focus > i{
	color: #F04124;
}


/*------------------------
REGISTRATION PAGES (/user/)
--------------------------*/
/*--------- login ----------*/
#login {
	display: block;
	width: 30%;
	margin: 0 auto;
}

#login h1 {
	margin-bottom: 30px;
}

#login input[type="submit"] {
	margin: 10px 0;
}

/*--------- registration ----------*/
#registration {
	display: block;
	width: 30%;
	margin: 0 auto;
}

#registration h1 {
	margin-bottom: 30px;
}

#registration input[type="submit"] {
	margin: 10px 0;
}







