<div id="article-display" ng-controller="ArticleController">
	<div ng-show="!articles_present && articles_loaded">
		<h1>No one has submitted an article about this bum yet.</h1>
		<hr>
	</div>

	<div ng-show="articles_present">
		<h1>Check out these cool articles below</h1>
		<h5 ng-show="!is_authenticated"><span class="glyphicon glyphicon-exclamation-sign"></span> You must be logged in to vote.</h5>
		<div ng-repeat="article in articles" id="articles"class="panel panel-info">
		  <div class="panel-heading">
		  	<div class="row">
		  		<div class="col-md-1">
		  			<div id="article-vote">
			  			<p class="vote-outline" ng-click="toggleVote(article, 'up')"><a><i ng-class="{ 'article-upvote': article.user_upvote }" class="fa fa-chevron-up"></i></a></p>
			  			<p class="vote-outline" ng-click="toggleVote(article, 'down')"><a><i ng-class="{ 'article-downvote': article.user_downvote }" class="fa fa-chevron-down"></i></a></p>
		  			</div>
		  		</div>
		  		<div class="col-md-1" id="article-vote-count">
		  			<h3>{{ article.vote_count }}</h3>
		  		</div>
		  		<div class="col-md-10">
				    <h3 class="panel-title"><a ng-href="{{ article.url }}" class="article-title" target="_blank">{{ article.title }}</a></h3>
				    <p>By {{ article.user }} on {{ article.timestamp_date }} at {{ article.timestamp_time }}</p>
				    <div class="tag-wrapper">
				   		<span ng-repeat="tag in article.tags" id="article-tag" class="label label-danger">{{ tag }}</span>
				    </div>
			    </div>
		    </div>
		  </div>
		</div>
	</div>

	<div ng-show="is_authenticated">
		<a id="add-article-btn" class="btn btn-danger btn-lrg" ng-hide="addArticleEnabled" ng-click="enableAddArticle()"><span class="glyphicon glyphicon-plus-sign"></span> Article</a>

		<!-- add form -->
		<div class="row">
			<div class="col-md-9">

				<div id="article-success-alert" class="modal" ng-show="addedSuccess" ng-click="addedSuccess = false">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header alert-success">
				        <button type="button" class="close" ng-click="disableAddArticle()" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
				        <h4 class="modal-title"><strong>Awesome!</strong> Your article was successfully submitted.</h4>
				      </div> <!-- /modal-header -->
				    </div> <!-- /modal-content -->
				  </div> <!-- /modal-dialog -->
				</div> <!-- /modal -->

				<div class="modal" ng-show="addArticleEnabled">
				  <div class="modal-dialog">
				    <div class="modal-content">
				    	<form id="add-article-form" name="articleForm" ng-submit="addArticle()" novalidate>
					      <div class="modal-header">
					        <button type="button" class="close" ng-click="disableAddArticle()" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
					        <h4 class="modal-title">Submit an Article</h4>
					      </div>
					      <div class="modal-body">

									<!-- TITLE -->
									<div class="form-group" ng-class="{ 'has-error' : articleForm.title.$invalid && !articleForm.title.$pristine }">
								    <label>Article Title</label>
								    <input type="text" name="title" class="form-control" ng-model="article.title" ng-minlength="10" ng-maxlength="100" placeholder="Enter a descriptive title">
								    <p ng-show="articleForm.title.$error.minlength" class="help-block">Title is too short.</p>
								    <p ng-show="articleForm.title.$error.maxlength" class="help-block">Title is too long.</p>
									</div>

									<!-- URL -->
					        <div class="form-group" ng-class="{ 'has-error' : articleForm.url.$invalid && !articleForm.url.$pristine }">
					          <label>Article Link</label>
					          <input type="url" name="url" class="form-control" ng-model="article.url" max-length="500" placeholder="Enter a valid URL starting with 'http://'" required>
					          <p ng-show="articleForm.url.$invalid && !articleForm.url.$pristine" class="help-block">A valid URL is required.</p>
					        </div>

							    <!-- TAGS -->
									<div class="form-group">
								    <label>Tags <span id="tags-info">(max. 5)</span></label>
								    <tags-input ng-model="article.tags" min-length="3" max-length="200" max-tags="5"></tags-input>
									</div>
					      </div> <!-- /modal-body -->
					      <div class="modal-body">
					      	<button type="submit" class="btn btn-primary" ng-disabled="articleForm.$invalid">Submit</button>
						      <button type="button" class="btn btn-danger" ng-click="disableAddArticle()">Cancel</button>
					      </div>
				      </form>
				    </div> <!-- /modal-content -->
				  </div> <!-- /modal-dialog -->
				</div> <!-- /modal -->
			</div> <!-- /col-md-9 -->
		</div> <!-- /row -->
	</div> <!-- /ng-show -->

	<!-- load animation -->
	<div id="article-wait" ng-hide="fade">
		<svg version="1.1" 
			class="svg-loader" 
			xmlns="http://www.w3.org/2000/svg" 
			xmlns:xlink="http://www.w3.org/1999/xlink" 
			x="0px"
			y="0px" 
			viewBox="0 0 80 80" 
			xml:space="preserve">

			<path 
				fill="#D43B11" 
				d="M10,40c0,0,0-0.4,0-1.1c0-0.3,0-0.8,0-1.3c0-0.3,0-0.5,0-0.8c0-0.3,0.1-0.6,0.1-0.9c0.1-0.6,0.1-1.4,0.2-2.1
				c0.2-0.8,0.3-1.6,0.5-2.5c0.2-0.9,0.6-1.8,0.8-2.8c0.3-1,0.8-1.9,1.2-3c0.5-1,1.1-2,1.7-3.1c0.7-1,1.4-2.1,2.2-3.1
				c1.6-2.1,3.7-3.9,6-5.6c2.3-1.7,5-3,7.9-4.1c0.7-0.2,1.5-0.4,2.2-0.7c0.7-0.3,1.5-0.3,2.3-0.5c0.8-0.2,1.5-0.3,2.3-0.4l1.2-0.1
				l0.6-0.1l0.3,0l0.1,0l0.1,0l0,0c0.1,0-0.1,0,0.1,0c1.5,0,2.9-0.1,4.5,0.2c0.8,0.1,1.6,0.1,2.4,0.3c0.8,0.2,1.5,0.3,2.3,0.5
				c3,0.8,5.9,2,8.5,3.6c2.6,1.6,4.9,3.4,6.8,5.4c1,1,1.8,2.1,2.7,3.1c0.8,1.1,1.5,2.1,2.1,3.2c0.6,1.1,1.2,2.1,1.6,3.1
				c0.4,1,0.9,2,1.2,3c0.3,1,0.6,1.9,0.8,2.7c0.2,0.9,0.3,1.6,0.5,2.4c0.1,0.4,0.1,0.7,0.2,1c0,0.3,0.1,0.6,0.1,0.9
				c0.1,0.6,0.1,1,0.1,1.4C74,39.6,74,40,74,40c0.2,2.2-1.5,4.1-3.7,4.3s-4.1-1.5-4.3-3.7c0-0.1,0-0.2,0-0.3l0-0.4c0,0,0-0.3,0-0.9
				c0-0.3,0-0.7,0-1.1c0-0.2,0-0.5,0-0.7c0-0.2-0.1-0.5-0.1-0.8c-0.1-0.6-0.1-1.2-0.2-1.9c-0.1-0.7-0.3-1.4-0.4-2.2
				c-0.2-0.8-0.5-1.6-0.7-2.4c-0.3-0.8-0.7-1.7-1.1-2.6c-0.5-0.9-0.9-1.8-1.5-2.7c-0.6-0.9-1.2-1.8-1.9-2.7c-1.4-1.8-3.2-3.4-5.2-4.9
				c-2-1.5-4.4-2.7-6.9-3.6c-0.6-0.2-1.3-0.4-1.9-0.6c-0.7-0.2-1.3-0.3-1.9-0.4c-1.2-0.3-2.8-0.4-4.2-0.5l-2,0c-0.7,0-1.4,0.1-2.1,0.1
				c-0.7,0.1-1.4,0.1-2,0.3c-0.7,0.1-1.3,0.3-2,0.4c-2.6,0.7-5.2,1.7-7.5,3.1c-2.2,1.4-4.3,2.9-6,4.7c-0.9,0.8-1.6,1.8-2.4,2.7
				c-0.7,0.9-1.3,1.9-1.9,2.8c-0.5,1-1,1.9-1.4,2.8c-0.4,0.9-0.8,1.8-1,2.6c-0.3,0.9-0.5,1.6-0.7,2.4c-0.2,0.7-0.3,1.4-0.4,2.1
				c-0.1,0.3-0.1,0.6-0.2,0.9c0,0.3-0.1,0.6-0.1,0.8c0,0.5-0.1,0.9-0.1,1.3C10,39.6,10,40,10,40z"
				>

				<animateTransform
					attributeType="xml"
					attributeName="transform"
					type="rotate"
					from="0 40 40"
					to="360 40 40"
					dur="1s"
					repeatCount="indefinite"
				/>
			</path>
		</svg>
	</div>
</div> <!-- /article-display -->