<div id="article-display" ng-controller="ArticleController">
	<div ng-show="no_articles">
		<h1>No one has submitted an article about this bum yet.</h1>
		<hr>
	</div>

	<div ng-show="is_authenticated">
		<a id="add-article-btn" class="btn btn-danger btn-lrg" ng-hide="addArticleEnabled" ng-click="enableAddArticle()">Submit an article</a>

		<!-- add form -->
		<div class="row">
			<div class="col-md-9">

				<div id="article-success-alert" class="modal" ng-show="addedSuccess" ng-click="addedSuccess = false">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header alert-success">
				        <button type="button" class="close" ng-click="disableAddArticle()" aria-hidden="true">X</button>
				        <h4 class="modal-title"><strong>Awesome!</strong> Your article was successfully submitted.</h4>
				      </div> <!-- /modal-header -->
				    </div> <!-- /modal-content -->
				  </div> <!-- /modal-dialog -->
				</div> <!-- /modal -->

				<div class="modal" ng-show="addArticleEnabled">
				  <div class="modal-dialog">
				    <div class="modal-content">
				    	<form id="add-article-form" name="articleForm" ng-submit="addArticle()" novalidate>
					      <div class="modal-header">
					        <button type="button" class="close" ng-click="disableAddArticle()" aria-hidden="true">X</button>
					        <h4 class="modal-title">Submit an Article</h4>
					      </div>
					      <div class="modal-body">

									<!-- TITLE -->
									<div class="form-group" ng-class="{ 'has-error' : articleForm.title.$invalid && !articleForm.title.$pristine }">
								    <label>Article Title</label>
								    <input type="text" name="title" class="form-control" ng-model="article.title" ng-minlength="10" ng-maxlength="100" placeholder="Enter a descriptive title">
								    <p ng-show="articleForm.title.$error.minlength" class="help-block">Title is too short.</p>
								    <p ng-show="articleForm.title.$error.maxlength" class="help-block">Title is too long.</p>
									</div>

									<!-- URL -->
					        <div class="form-group" ng-class="{ 'has-error' : articleForm.url.$invalid && !articleForm.url.$pristine }">
					          <label>URL</label>
					          <input type="url" name="url" class="form-control" ng-model="article.url" placeholder="Enter a valid URL starting with 'http://'" required>
					          <p ng-show="articleForm.url.$invalid && !articleForm.url.$pristine" class="help-block">A valid URL is required.</p>
					        </div>

							    <!-- TAGS -->
									<div class="form-group">
								    <label>Tags <span id="tags-info">(max. 5)</span></label>
								    <tags-input ng-model="article.tags" min-length="3" max-length="50" max-tags="5"></tags-input>
									</div>
					      </div> <!-- /modal-body -->
					      <div class="modal-body">
					      	<button type="submit" class="btn btn-primary" ng-disabled="articleForm.$invalid">Submit</button>
						      <button type="button" class="btn btn-danger" ng-click="disableAddArticle()">Cancel</button>
					      </div>
				      </form>
				    </div> <!-- /modal-content -->
				  </div> <!-- /modal-dialog -->
				</div> <!-- /modal -->
			</div> <!-- /col-md-9 -->
		</div> <!-- /row -->
	</div> <!-- /ng-show -->
</div> <!-- /article-display -->