{% extends "base.html" %}

{% block title %}Profiles{% endblock %}

{% block body_block %}
<div class="container" id="politician-profile">
{% if politician %}
	
	<h1><strong>{{ politician.official_full_name }}</strong></h1>

	{% if politician.chamber == "rep" %}
		<h2>U.S. House of Representatives</h2>
	{% elif politician.chamber == "sen"%}
		<h2>U.S. Senate</h2>
	{% endif %}  

	<h3>
	 {{ politician.party }} //
	{% if politician.rep_district != None %}
		 {{ politician.state }}-{{ politician.rep_district }}
	{% else %}
		{{ politician.state }}
	{% endif %}
	</h3>

	{% with '/static/images/congress_portraits/225x275/'|add:politician.id_bioguide|add:'.jpg' as image_static %}
		<img id="profile-pic" src="{{ image_static }}" />
	{% endwith %}

{% else %}

	<h1>No such profile exists</h1>

{% endif %}
</div>

{% endblock %}