{% extends "base.html" %}
{% load staticfiles%}
{% block title %}Profiles{% endblock %}

{% block body_block %}

<div class="container" id="politician-profile">

{% if politician %}
	
<!-- Pol name -->
<div class="row">
	
	<!-- Politician name -->
	<div class="col-sm-10">
		<h1 id="politician-name" data-pol-id="{{ politician.id }}"><strong>{{ politician.official_full_name }}</strong></h1>
	</div> <!-- /col-sm-10 -->

	<!-- Subscribe btn -->
	{% if user.is_authenticated %}
	<div class="col-sm-2" id="pol-subscribe">
		<button id="subscribe-btn" class="btn btn-lg btn-danger" data-can-subscribe="{{ can_subscribe|yesno:"true,false" }}"><i class="glyphicon glyphicon-eye-open"></i><span> Watch</span></button>
	</div> <!-- /col-sm-2 -->
	{% endif %}

</div> <!-- /row -->

<!-- Picture / bio info section -->
<div class="col-md-3">

	<!-- Chamber (house or senate) -->
	{% if politician.chamber == "rep" %}
		<h3 class="chamber">U.S. House of Reps</h3>
	{% elif politician.chamber == "sen"%}
		<h3 class="chamber">U.S. Senate</h3>
	{% endif %}  

	<!-- State, district and party information -->
	<h4><i class="fa fa-angle-double-right"></i>  
	{{ politician.party }}
	{% if politician.rep_district != None %}
		 ({{ politician.state }}-{{ politician.rep_district }})
	{% else %}
		({{ politician.state }})
	{% endif %}

	<!-- politician role if there is one -->
	</h4>
	{% if politician.role %}
		<h4><i class="fa fa-angle-double-right"></i> {{ politician.role }}</h4>
	{% endif %}

	<!-- Displays profile pic if it exists, if not, a gender-specific placeholder image -->
	{% if alt_profile_pic == "male" %}
		<img id="profile-pic" src="/static/images/placeholders/placeholder-male-225x275.jpg" />
	{% elif alt_profile_pic == "female" %}
		<img id="profile-pic" src="/static/images/placeholders/placeholder-female-225x275.jpg" />
	{% else %}
		{% with '/static/images/congress_portraits/225x275/'|add:politician.id_bioguide|add:'.jpg' as image_static %}
			<img id="profile-pic" src="{{ image_static }}" />
		{% endwith %}	
	{% endif %}

	<!-- politician side-bar tabs -->
	<ul class="nav nav-tabs">
		<li class="active"><a href="#contact" data-toggle="tab">Contact</a></li>
	  <li><a href="#bio" data-toggle="tab">Bio</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="contact">

			<!-- social media info -->
			<div class="social-media-icon-wrapper">
		  	{% if politician.twitter_id %}
		 			<a class="social-media-icon" href="https://twitter.com/{{ politician.twitter_id }}" target="_blank"><i class="fa fa-twitter"></i></a> 		
		  	{% endif %}
		  	
		  	{% if politician.facebook_id %}
		  		<a class="social-media-icon" href="https://www.facebook.com/{{ politician.facebook_id }}" target="_blank"><i class="fa fa-facebook-official"></i></a>
		  	{% endif %}

		  	{% if politician.youtube_id %}
		  		<a class="social-media-icon" href="https://www.youtube.com/user/{{ politician.youtube_id }}" target="_blank"><i class="fa fa-youtube-play"></i></a>	
		  	{% endif %}
	  	</div> <!-- social-media-icon-wrapper -->
	  	
	  	<!-- contact info -->
	  	<p><span><i class="fa fa-home"></i> </span><a href="{{ politician.url }}" target="_blank">Homepage</a></p>
	  	{% if politician.contact_form %}
	  		<p><span><i class="fa fa-pencil"></i> </span><a href="{{ politician.contact_form }}" target="_blank">Contact Form</a></p>
	  	{% endif %}
	  	<p><span><i class="fa fa-phone"></i> </span><a href="tel:1-{{ politician.phone }}">{{ politician.phone }}</a></p>

	  	{% autoescape off %}
	  		<p><span><i class="fa fa-envelope"></i> </span>{{ politician.address }}</p>
	  	{% endautoescape %}

	  </div> <!-- /tab-pane -->
	  <div class="tab-pane fade" id="bio">

			<!-- term end -->
			<p>Term ends: {{ politician.term_end|date }}</p>

			<!-- first elected -->
			<p>First elected: {{ politician.first_elected|date }}</p>

			<!-- more bio info -->
			<p>Age: {{ politician.age }} (b. {{ politician.birthday|date }})</p>

			{% if politician.religion %}
				<p>Religion: {{ politician.religion }}</p>
			{% else %}
				<p>Religion: None listed</p>
			{% endif %}

	  </div> <!-- /tab-pane -->
	</div> <!-- /tab-content -->
</div> <!-- col-md-3 -->

<!-- Main info block -->
<div class="col-md-9">
	<ul class="nav nav-tabs">
	  <li><a href="#money" data-toggle="tab">Money</a></li>
	  <li class="active"><a href="#real-talk" data-toggle="tab">Real Talk</a></li>
	  <li><a href="#activity" data-toggle="tab">Political activity</a></li>
	  <li><a href="#rss" data-toggle="tab">RSS Feed</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
	  <div class="tab-pane fade" id="money">
	  	<money-info></money-info> <!-- angular.js custom element directive -->
	  </div>
	  <div class="tab-pane fade active in" id="real-talk">
	    <article-display></article-display>
	  </div>
	  <div class="tab-pane fade" id="activity">
	    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
	  </div>
	  <div class="tab-pane fade" id="rss">
	    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
	  </div>
	</div><!-- /tab content -->	
</div><!-- col-md-9 -->

{% else %}

	<h1>No such profile exists</h1>

{% endif %}

</div>

{% endblock %}