{% extends "base.html" %}

{% block title %}Subscriptions{% endblock %}

{% block body_block %}

<div class="container" id="subscriptions">

	<h1>Subscriptions for {{ user.username }} ({{ pols|length }})</h1>
	<div class="col-md-9">
		<table class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Name</th>
		      <th>Chamber</th>
		      <th class="center-col">State/District</th>
		      <th class="center-col">Un-watch</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for pol in pols %}
		    <tr>
		      <td class="vert-align">{{ forloop.counter }}</td>
		      <td class="vert-align"><a href="/profiles/{{ pol.slug }}">{{ pol.official_full_name }}</a></td>
		      <td class="vert-align">
		      	{% if pol.chamber == "sen" %}
		      		U.S. Senate
		      	{% elif pol.chamber == "rep" %}
							U.S. House of Representatives
						{% else %}
							None
		      	{% endif %}
		    	</td>
		      <td class="center-col vert-align">{{ pol.state }}
		      	{% if pol.rep_district %}
		      		-{{ pol.rep_district }}
		      	{% endif %}
		      </td>
		      <td class="center-col vert-align">
		      	<button class="subscribe-btn-subscriptions btn btn-sm btn-info" data-pol-id-subscriptions="{{ pol.id }}"><i class=" glyphicon glyphicon-eye-close"></i></button>
		      </td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
</div>

{% endblock %}